<div class="pure-g home-menu-container" ng-controller="HomeMenuController as vm">
    <div class="pure-u-1 title-block">

        <div class="title">
            <span dir-terminal-type
                  duration="500"
                  remove-caret="0"
                  start-typing="vm.typingComplete == false"
                  on-completion="t2 = true">Michael Bromley</span><br>
            <span class="" dir-terminal-type
                  duration="500"
                  remove-caret="100"
                  start-typing="t2"
                  on-completion="vm.completeTyping()">Web Developer</span>
        </div>

        <div class="menu" ng-show="vm.showLinks">
            <ul>
                <li><a ng-class="{ selected: activeSection === 'blog' ||
                                             activeSection === 'post' ||
                                             activeSection === 'postsByTag' ||
                                             activeSection === 'postsBySearch'}"     ui-sref="blog">Blog</a></li>
                <li><a ng-class="{ selected: activeSection === 'projects'}" ui-sref="projects">Projects</a></li>
                <li><a ng-class="{ selected: activeSection === 'about'}"    ui-sref="about">About</a></li>
                <li><a ng-class="{ selected: activeSection === 'contact'}"  ui-sref="contact">Contact</a></li>
                <li class="home-link"><a ui-sref="home">Home</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2"  ng-show="vm.showLinks">
        <div class="features-container">
            <h2>Featured Articles</h2>
            <ul class="featured-articles no-bullet">
                <li ng-repeat="post in vm.featuredPosts">
                    <a ui-sref="post({ id: post.ID, title: post.slug })">{{ post.title }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2"  ng-show="vm.showLinks">
        <div class="features-container">
            <h2>Featured Project</h2>
            <div ng-repeat="project in vm.featuredProjects" class="featured-project">
                <a ui-sref="projects">
                    <img ng-src="{{ project.featured_image.attachment_meta.sizes.medium.url }}" >
                    <p>{{ project.title }}</p>
                </a>
            </div>
        </div>
    </div>

    <div class="pure-u-1">
        <div class="social-links" ng-hide="vm.isExpanded">
            <ul class="no-bullet">
                <li><a href="https://twitter.com/michlbrmly" target="_blank" title="Follow me on Twitter"><i class="icon-twitter"></i> @michlbrmly</a></li>
                <li><a href="https://github.com/michaelbromley/" target="_blank" title="Check out my GitHub repos"><i class="icon-github"></i> michaelbromley</a></li>
                <li><a href="http://www.michaelbromley.co.uk/api/category/post/feed" target="_blank" title="RSS Feed"><i class="icon-feed"></i> rss feed</a></li>
                <li><small>&copy; 2015 Michael Bromley</small></li>
            </ul>
        </div>
    </div>
</div>